.main-content {
    margin: 0 auto;
    width: 500px;
    overflow: hidden;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid;
    height: 15px;
    border-radius: 50%;
    width: 15px;
    margin: 10px;
    cursor: pointer;
}

label:hover{
    border-color: red;
}

label:active{
    background-color: black;
}

.labelActive {
    border-color: green;
}

.responsive {
    height: auto;
}

.sliderItem {
    transition: all 1s ease;
}

.slider {
    display: flex;
    height: 100%;
    width: 500px;
    flex-wrap: nowrap;
    overflow: hidden;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.text {
    display: flex;
}

.whitespace {
    white-space: pre;
}

input{
    display: none;
}

.controls{
    display: flex;
    margin: 4px;
    width: 392px;

}

.sliderText {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    width: 297px;
    align-items: center;
    justify-content: center;
}

#radio1:checked ~ .sliderItem {
    margin-left: 0;
}

#radio2:checked ~ .sliderItem {
    margin-left: -100%;
}

#radio3:checked ~ .sliderItem {
    margin-left: -200%;
}

#radio4:checked ~ .sliderItem {
    margin-left: -300%;
}

#radio5:checked ~ .sliderItem {
    margin-left: -400%;
}